.outerSettingsContainer {
    margin-top: 3vh;
    justify-content: center;
    margin-bottom: 3vh;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.alertDialog {
    justify-self: center;
}

.checkboxIcon {
    width: 4vh;
}

.parameterContainer {
    flex-wrap: wrap;
}

.applyButton {
    cursor: pointer;
    margin-top: 2vh;
    background-color: var(--primary-accent); /* Green */
    border-radius: 1vh;
    border-style: hidden;
    color: white;
    width: 25vh;
    padding: 0.8vh 2vh;
    text-align: center;
    text-decoration: none;


    font-size: 3.5vh;
    font-family: Inter;
    font-weight: 400;
}

.buttonColumn {
    margin-bottom: 3vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}