.pushButton {
    align-self: center;
    cursor: pointer;
    background-color: var(--primary-accent);
    border-radius: 2vh;
    border-style: none;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    color: white;

}

.utcLabel {
    align-self: center;
    font-size: 2vh;
    font-style: italic;
    font-family: Inter;
    font-weight: 600;
    color: var(--secondary-shade4);
}

.timePickerContainer {
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.outerTimePickerContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}


.plusIcon {
    align-self: center;
    height: 2.5vh;
    width: 2.5vh;
}

.pushButton:hover {
    width: 5vh;
    height: 5vh;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.pushButton:active {
    max-width: 5vh;
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}
