.timeListContainer {
    margin-top: 3vh;
    background-color: #dcdcdc;
    align-self: center;
    align-items: center;
    border-style: solid;
    border-width: 0.3vh;
    border-radius: 1vh;
    border-color: var(--secondary-shade3);
    display: flex;
    flex-direction: column;
    width: 50%;
}

.timeItems {

    margin-top: 1vh;
    margin-bottom: 1vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    font-size: 3.5vh;
    font-family: Inter;
    font-weight: 600;
}

.timeListContainer:empty {
    display: none;
}

.timeItems:empty {
    display: none;
}

.timeItem:hover {
    border-radius: 2vh;
    width: 10vh;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.pushButton:active {
    border-radius: 2vh;
    width: 10vh;
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}


.timeItem {
    cursor: pointer;
    border-color: red;
}