.main-page{
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    row-gap: 3vh;
    column-gap: 5vh;

    min-height: 100vh;
    background-color: var(--secondary-shade2);
}

.right-container {
    display: flex;
}

.left-container {
    display: flex;
}